@font-face {
  font-family: 'Wells Fargo Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/wellsfargosans-lt.woff2') format('woff2');
}

@font-face {
  font-family: 'Wells Fargo Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/wellsfargosans-rg.woff2') format('woff2');
}

@font-face {
  font-family: 'Wells Fargo Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/wellsfargosans-sbd.woff2') format('woff2');
}

@font-face {
  font-family: 'Wells Fargo Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/wellsfargosans-bd.woff2') format('woff2');
}
